@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared styles  */

.dark-01 {
  font-size: 2.75rem;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
}

.dark-02 {
  color: rgba(66, 66, 66, 1);
}

.dark-03 {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
}

.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  background-color: #FF900E;
  color: #FFFFFF;
}



/* header styles  */

header {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 144, 14, 0.1);
  /* overflow-x: hidden; */
}

/* nav styles  */
nav {
  max-width: 1440px;
  margin: 0 auto;
}

nav,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-title {
  font-size: 2.75rem;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
}

nav ul li {
  list-style: none;
  padding-left: 50px;
}

nav a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: rgba(66, 66, 66, 1);
}

/* banner styles  */
.banner {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 45px;

}

.banner-content {
  width: 860px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 auto;
  color: rgba(19, 19, 19, 1);
}

.banner-img {
  width: 100%;
}

/* team styles  */
.teams {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-slogan {
  width: 530px;
  padding-top: 100px;
}

#quicklist {
  font-size: 2.75rem;
  font-weight: 500;
  color: rgba(114, 114, 114, 1);
}

#features {
  font-size: 2.75rem;
  font-weight: 700;
  color: #FF900E;
}

/* feature styles  */
.feature {
  max-width: 1440px;
  margin: 0 auto;


}

.feature-container {
  display: flex;
  gap: 200px;

}

.feature-content {
  width: 586px;
}

.title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

/* card styles  */

.card-container {
  width: 100%;
}

#box {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card {
  width: 100%;
  padding: 30px 40px 30px 32px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(19, 19, 19, 1);
  margin: 0 auto;
}

/* feature banner styles  */

.feature-img img {
  width: 700px;
}


/* badge styles  */

.badge {
  padding: 46px 42px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  margin-top: -120px;
  margin-left: -100px;
}

.badge-title {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 auto;
}

.badge-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

/* some facts styles  */

.some-facts {
  max-width: 1440px;
  margin: 0 auto;
}

.fact-content {
  margin-bottom: 100px;
}

.fact-title {
  margin-bottom: 10px;
}


/*  fact-cart container styels  */

.fact-container {
  display: flex;
  gap: 124px;
  margin-bottom: 180px;
}

.cart {
  width: 200px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  padding: 45px 36px 60px 36px;
  text-align: center;


}

.number {
  font-size: 45px;
  font-weight: 600;
  color: rgba(66, 66, 66, 1);
  margin: 0 auto;

}

.cart-text {
  font-size: 20px;
  font-weight: 600;
  color: rgba(114, 114, 114, 1);
  margin: 0 auto;

}

/* sponsor styles  */

.our-sponsor{
  max-width: 1440px;
  margin: 0 auto;
  /* justify-content: center;
  text-align: center; */
}

.sponsor-content{
  justify-content: center;
  text-align: center;
}

.our-sponsor h3{
  margin: 0 auto;
}

.sponsor-container{
  margin-top: 50px;
  filter: grayscale(100%);
  justify-content: center;
  text-align: center;


}

.sponsor-container img{
  width: 120px;
  margin-left: 100px;
}
























@media only screen and (max-width: 576px) {
  * {
    box-sizing: border-box;
  }

  nav,
  ul,
  .feature-container {
    flex-direction: column;
  }

  .teams {
    flex-direction: column-reverse;
  }

  nav ul li {
    padding: 5px;
    text-align: center;
  }

  nav ul {
    padding: 0;
  }

  .banner,
  .banner-content {
    max-width: calc(100% - 20px);

  }

  .banner-img img {
    width: 100%;
  }

  .team-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .teams {
    max-width: 100%;
    margin: 70px auto;
  }

  .team-container img {
    width: 100%;
  }

  .team-slogan {
    width: calc(100% - 20px);
    padding: 10px 20px;
    text-align: center;
  }

  .feature-container {
    gap: 50px;
  }

  .feature-content,
  .feature-banner {
    width: 100%;
    margin-top: 0 auto;
  }


  .card {
    width: 100%;
    margin: 0 auto;
    padding: 20px 22px 20px 22px;
  }

  .feature-img img {
    width: 100%;
    gap: 20px;
    margin: 0 auto;
  }

  .badge-btn .badge {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 25px;
    padding: 0 auto;

  }


  .fact-container {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    gap: 10px;
  }

  .cart {
    width: 100%;
    padding: 30px 20px 30px 20px;

  }

  .sponsor-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    justify-content: center;
    text-align: center;
  }
  
  .sponsor-container img{
    width: 100px;
    margin: 20px;
  }


}